<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mikki.zaramimic">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".data.network.model.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".products.category.CategoryActivity" />
        <activity android:name=".products.productlist.ProductListActivity" />
        <activity android:name=".authentication.login.LoginActivity" />
        <activity android:name=".authentication.signup.SignUpActivity" />
        <activity android:name=".authentication.forgotpw.ForgotPWActivity" />
        <activity android:name=".products.subcategory.SubCategoryActivity" />
        <activity android:name=".products.productpage.ProductPageActivity" />
        <activity android:name=".shoppingcart.ShoppingCartActivity" />
        <activity android:name=".myaccount.MyAccountActivity" />
        <activity android:name=".myaccount.profile.MyProfileActivity" />
        <activity android:name=".myaccount.orderhistory.OrderHistoryActivity" />
        <activity android:name=".authentication.resetpw.ResetPWActivity">
        </activity>
    </application>

</manifest>